body{

    background-image: url("hatter.png");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto;
    max-width: 1000px;

}

main{
    background-color: beige;
}


ul li {
    list-style-type: none;


}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    padding-top: 15px;
    margin: auto;   
        text-align: center;

    
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
nav {
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
  }
header {
    margin-top: 15px;
    width: 100%;
    background-color: transparent;
    height: 100px;
    text-align: center;
}

.aktiv{

    background-color: rgb(97, 0, 97);
    

}

footer{

    color: beige;
    background-color: #333;
    padding: 5px;

}

.teli{

    background-color: rgb(184, 184, 184);
    padding: 5px;

}

.felteli{

    background-color: rgb(207, 207, 207);
    padding: 5px;

}

.cim{

    background-color: #333;
    color: aliceblue;
    padding: 5px;

}

#tesztkerdesek #valasztas {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#tesztkerdesek #tesztes {
    margin-left: 35px;
}

#tesztkerdesek .gomb {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(245, 227, 165);
    font-weight: bold;
    text-decoration: none;
    color: black;
    height: 40px;
    text-align: center;
    padding-top: 2px ;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#tesztkerdesek .gomb:hover {
    background-color: rgb(237, 205, 101);
} 

#tesztkerdesek .gomb:active {
    background-color: rgb(252, 215, 91);
} 

#tesztkerdesek {
    margin-bottom: 50px;
}


@media screen and (max-width: 300px) {
    main {
      max-width: 300px;
    }
  
    section div {
      width: 80%;
    }
  }
  